@import url('https://fonts.googleapis.com/css2?family=Hubot+Sans:ital,wght@0,200..900;1,200..900&display=swap');

html, body {
    margin: 0;
}

body{
    background-color: #09162Bff;
    color: white;
}

nav{
    background-size: 400% 400%;
    animation: gradientAnimation 15s ease infinite;
    color: white;
    padding: 0px 25px;;
    display: flex;
    justify-content: space-between;
    align-items: center;
    overflow: hidden;
   transition: all .3s ease-in-out;
   -webkit-box-shadow: 0px 11px 24px -10px #84a98c;
   -moz-box-shadow: 0px 11px 24px -10px #52796f;
   box-shadow: 0px 11px 24px -10px #354f52;
}

nav img{
    width: 12em;
    display: flex;
}

nav ul{
    display: flex;
    justify-content: space-between;
}

nav a{
    text-decoration: none;
    color: #ffffff;
    font-family: "Hubot Sans", sans-serif;
    font-optical-sizing: auto;
    font-weight: 500;
}

nav li{
    list-style-type: none;
    margin: 10px;
}

nav li:hover{
    transform: scale(1.1);
}

nav a:hover{
    color: #d0ffff;
}

#introduction{
    background: linear-gradient(45deg, #9B4B61ff, #070402ff, #1E101Cff, #113768ff, #3C1E30ff, #070C1Aff, #09162Bff, #6F3430ff);
    background-size: 400% 400%;
    animation: gradientAnimation 15s ease infinite;
    color: white;
    height: 80vh;
}
      
@keyframes gradientAnimation {
    0% {
        background-position: 0% 50%;
    }
    50%{
        background-position: 100% 50%;
    }
    100%{
        background-position: 0% 50%;
    }
}

#introduction{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

#introduction h1{
    font-family: "Hubot Sans", sans-serif;
    font-optical-sizing: auto;
    font-weight: 100px;
    font-style: normal;
    font-variation-settings:
      "wdth" 100;
    font-size: 6em;
    margin: 0;
}

#quote{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 55vh;
    text-align: center;
}

#quote h3{
    font-family: "Hubot Sans", sans-serif;
    font-optical-sizing: auto;
    font-weight: 80px; 
    font-style: oblique;
    font-size: 2.5em;
    background: linear-gradient(90deg, #936cc0, #a93e5c);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

#container {
    display: flex;
    justify-content: center;
    gap: 10px;
    padding: 20px;
    position: relative;
}

.card {
    position: relative;
    width: 300px;
    height: 400px;
    border-radius: 10px;
    overflow: hidden;
    transition: transform 0.3s ease, z-index 0.3s ease;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    cursor: pointer;
}

.card:nth-child(1) {
    margin-right: -60px;
    transform: translateX(-20px);
    z-index: 1;
}

.card:nth-child(2) {
    margin-right: -60px;
    transform: translateY(-20px);
    z-index: 2; 
}

.card:nth-child(3) {
    margin-right: -60px;
    transform: translateX(20px);
    z-index: 1;
}

.card:hover {
    transform: scale(1.1); 
    z-index: 3; 
}

.card img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.card h3 {
    position: absolute;
    bottom: 10px;
    left: 50%;
    transform: translateX(-50%);
    color: white;
    background-color: rgba(0, 0, 0, 0.6);
    padding: 5px 10px;
    border-radius: 5px;
    font-size: 1.2em;
    text-align: center;
    margin: 0;
    height: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
}

#links{
    height: 100%;
    margin: 100px;
    display: flex;
    justify-content: center;
    flex-direction: column;    
    gap: 100px;
    align-items: center;
}

.link{
    display: flex;
    flex-direction: row;
    gap: 100px;
}

#links a{
    display: flex;
    gap: 30px;
}

#links a {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 3em; 
    text-decoration: none;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 80px;
    height: 80px;
    border-radius: 50%;
    transition: transform 0.3s;
}

#links a i{
    font-size: 2em;
    background: linear-gradient(45deg, #9B4B61ff, #070402ff, #1E101Cff, #113768ff, #3C1E30ff, #a3e0e6, #3be3d5, #6F3430);
    background-size: 400% 400%;
    animation: gradientAnimation 15s ease infinite;
    -webkit-background-clip: text;
    background-clip: text;
    color: transparent;
    line-height: 1;
}

#links a:hover {
    transform: scale(1.1); 
}

span.line{
    width: 50%;
    height: 2px;
    background-color: #296286;
    align-items: center;
}

#buttons {
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-family: "Hubot Sans", sans-serif;
    margin: 0 5%;
    padding: 20px 0;
}

#buttons a {
    width: 200px;
    display: flex;
    height: 50px;
    align-items: center;
    justify-content: center;
    background-color: #1c1f42; 
    padding: 8px 16px;
    border-radius: 8px;
    border: solid 2.5px #495194;
    text-decoration: none;
    font-weight: 550;
    font-size: 20px;
    color: white;
    transition: all .3s ease-in-out;
}

#buttons a:hover{
    border: solid 2.5px #d0ffff;
}

.content {
    display: flex;
    flex-direction: column;
    justify-content: flex-start; 
    max-width: 70%; 
}

.content h3 {
    font-size: 2em;
    margin: 0;
}

.content p {
    font-size: 20px;
    margin: 5px 0; 
}
